---
import '@/styles/globals.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="H2 Prod Studio - Software Solutions" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script is:inline>
      function getInitialColorMode() {
        const persistedColorPreference = window.localStorage.getItem('vite-ui-theme');
        const hasPersistedPreference = typeof persistedColorPreference === 'string';
        if (hasPersistedPreference) {
          return persistedColorPreference;
        }
        const mql = window.matchMedia('(prefers-color-scheme: dark)');
        const hasMediaQueryPreference = typeof mql.matches === 'boolean';
        if (hasMediaQueryPreference) {
          return mql.matches ? 'dark' : 'light';
        }
        return 'system';
      }
      const colorMode = getInitialColorMode();
      document.documentElement.style.setProperty('--initial-color-mode', colorMode);
      document.documentElement.classList.add(colorMode === 'system' ? (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light') : colorMode);
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>